:root {
    --card-height: 200px;
}
.book-list {
    margin-top: 30px;
    height: 300px;
    width: 700px;
    overflow: scroll;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-height));
    gap: 10px;

}

.card * {
    margin: 0px;
    padding: 0px;
}
.card {
    width: var(--card-height);
    height: var(--card-height);
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 1fr .5fr .5fr;
}